
body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0f172a; 
  color: white;
  padding: 15px;
  z-index: 1000;
}


.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.bg1 { background-image: url('image.jpg'); }
.bg2 { background-image: url('photo.jpg'); }
.bg3 { background-image: url('pic.jpeg'); }

.caption {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.caption .border {
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
  font-size: 25px;
  letter-spacing: 5px;
}


.section {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;
}







